Repository newamericafoundation/MDDL: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

.lintstagedrc.json:

{
  "packages/api-service/**/*.ts": [
    "yarn workspace @datalocker/api-service lint --fix",
    "prettier --write",
    "git add"
  ],
  "packages/frontend/**/*.{ts,vue}": [
    "yarn workspace frontend lint --fix",
    "prettier --write",
    "git add"
  ],
  "packages/infra/**/*.ts": [
    "yarn workspace infra lint --fix",
    "prettier --write",
    "git add"
  ]
}

[FE] a11y for images and buttons (#137)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/BackButton/BackButton.vue
  packages/frontend/components/CityLogo/CityLogo.vue
  packages/frontend/components/ClientList/ClientList.vue
  packages/frontend/components/ConfirmationDialog/ConfirmationDialog.vue
  packages/frontend/components/DelegateCard/DelegateCard.vue
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentFile/DocumentFile.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/DocumentMenu/DocumentMenu.vue
  packages/frontend/components/SnackBar/SnackBar.vue
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/activity/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/share/index.vue
  packages/frontend/plugins/axe.ts
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix

Infrastructure hardening (#142)
  packages/api-service/package.json
  packages/api-service/src/__mocks__/config.ts
  packages/api-service/src/config.ts
  packages/api-service/src/services/documents/createDocumentForUser.test.ts
  packages/api-service/src/services/emails/emailSender.ts
  packages/api-service/src/utils/lambda.ts
  packages/api-service/src/utils/logstream.ts
  packages/api-service/src/utils/middleware.ts
  packages/api-service/src/utils/s3.test.ts
  packages/api-service/src/utils/s3.ts
  packages/api-service/src/utils/sentry.ts
  packages/api-service/src/utils/sqs.ts
  packages/api-service/tsconfig.json
  packages/infra/.gitignore
  packages/infra/entrypoints.json
  packages/infra/package.json
  packages/infra/src/cicd-stack.ts
  packages/infra/src/city-stack.ts
  packages/infra/src/data-store-stack.ts
  packages/infra/tsconfig.json
  packages/infra/webpack.config.ts
  tsconfig.json
  yarn.lock
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

[FE] Keyboard accessibility (#143)
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/_a11y.scss
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/AgentDashboard/AgentDashboard.vue
  packages/frontend/components/BackButton/BackButton.vue
  packages/frontend/components/ButtonLarge/ButtonLarge.vue
  packages/frontend/components/CboDashboard/CboDashboard.vue
  packages/frontend/components/ClientDashboard/ClientDashboard.vue
  packages/frontend/components/CollectionCard/CollectionCard.vue
  packages/frontend/components/CollectionList/CollectionList.vue
  packages/frontend/components/ConfirmationDialog/ConfirmationDialog.spec.ts
  packages/frontend/components/ConfirmationDialog/ConfirmationDialog.vue
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/DocumentMenu/DocumentMenu.vue
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/components/NavItemList/NavItemList.vue
  packages/frontend/components/SharedCollectionCard/SharedCollectionCard.vue
  packages/frontend/components/SharedCollectionList/SharedCollectionList.vue
  packages/frontend/components/SideNav/SideNav.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/components/icons/hamburger-menu.vue
  packages/frontend/layouts/default.vue
  packages/frontend/mixins/navigation.ts
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/activity/index.vue
  packages/frontend/pages/collections/_id/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/index.vue
  packages/frontend/pages/share/index.vue
  packages/frontend/pages/terms-of-use/index.vue
  packages/frontend/types/a11y.ts
  packages/frontend/types/vue-shim.d.ts
Due: prettier --write, yarn workspace frontend lint --fix

agent dashboard empty state and collection default name (#147)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/ClientList/ClientList.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/EmptyState/EmptyState.spec.ts
  packages/frontend/components/EmptyState/EmptyState.stories.ts
  packages/frontend/components/EmptyState/EmptyState.vue
  packages/frontend/components/SharedOwnerList/SharedOwnerList.vue
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

about page with english fallback (#146)
  packages/frontend/assets/js/messages.ts
  packages/frontend/content/about/en.md
  packages/frontend/content/terms-of-use/en.md
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  packages/frontend/pages/about/about.spec.ts
  packages/frontend/pages/about/about.stories.ts
  packages/frontend/pages/about/index.vue
  packages/frontend/pages/terms-of-use/index.vue
  packages/frontend/tsconfig.json
  packages/frontend/types/vue-shim.d.ts
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix

Prod infrastructure changes (#148)
  .github/workflows/build_and_test.yml
  packages/api-service/src/models/accountDelegate.test.ts
  packages/api-service/src/models/user.ts
  packages/api-service/src/services/users/index.test.ts
  packages/infra/README.md
  packages/infra/package.json
  packages/infra/src/auth-stack.ts
  packages/infra/src/cicd-stack.test.ts
  packages/infra/src/cicd-stack.ts
  packages/infra/src/city-stack.test.ts
  packages/infra/src/city-stack.ts
  packages/infra/webpack.config.ts
  yarn.lock
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

Added missing lambda entrypoint for building (#149)
  packages/api-service/entrypoints.json
  packages/infra/.gitignore
Due: none

landing page title (#150)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/ClientDashboard/ClientDashboard.spec.ts
  packages/frontend/components/ClientDashboard/ClientDashboard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/SideNav/SideNav.vue
  packages/frontend/pages/about/index.vue
  packages/frontend/pages/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

skip landing page if datalocker.role matches (#151)
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/pages/agency/index.vue
  packages/frontend/pages/community/index.vue
  packages/frontend/pages/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Provided KMS Key docs (#152)
  packages/infra/README.md
  packages/infra/src/cicd-stack.ts
  packages/infra/src/city-stack.ts
  packages/infra/src/data-store-stack.ts
  packages/infra/src/provided-key.ts
Due: prettier --write, yarn workspace infra lint --fix

footer about and TOS links (#153)
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/DesktopSideBar/DesktopSideBar.vue
  packages/frontend/components/FooterLinks/FooterLinks.spec.ts
  packages/frontend/components/FooterLinks/FooterLinks.stories.ts
  packages/frontend/components/FooterLinks/FooterLinks.vue
  packages/frontend/layouts/dashboard.vue
  packages/frontend/layouts/default.vue
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/share/index.vue
  packages/frontend/pages/terms-of-use/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

desktop share flow (#155)
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/ClientDashboard/ClientDashboard.vue
  packages/frontend/components/CollectionCard/CollectionCard.spec.ts
  packages/frontend/components/DocumentCard/DocumentCard.spec.ts
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/FooterCard/FooterCard.spec.ts
  packages/frontend/components/FooterCard/FooterCard.stories.ts
  packages/frontend/components/FooterCard/FooterCard.vue
  packages/frontend/components/icons/arrow.vue
  packages/frontend/pages/about/index.vue
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/share/index.vue
  packages/frontend/store/delegate/index.ts
  packages/frontend/vuetify.options.ts
Due: prettier --write, yarn workspace frontend lint --fix

Added alerts for SQS queues. (#154)
  packages/infra/package.json
  packages/infra/src/cicd-stack.ts
  packages/infra/src/city-stack.ts
  yarn.lock
Due: prettier --write, yarn workspace infra lint --fix

Update architecture diagrams (#156)
  docs/aws_architecture.png
  docs/aws_architecture.xml
Due: none

fixes (#158)
  packages/frontend/components/CboDashboard/CboDashboard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
Due: prettier --write, yarn workspace frontend lint --fix

Fix CDK synth not working with dynamic reference (#160)
  packages/infra/src/city-stack.ts
Due: prettier --write, yarn workspace infra lint --fix

Wrapped non-API lambda handlers with sentry monitoring so errors will be logged. (#159)
  packages/api-service/src/services/activity/processActivity.test.ts
  packages/api-service/src/services/activity/processActivity.ts
  packages/api-service/src/services/collections/createCollectionForUser.ts
  packages/api-service/src/services/collections/createCollectionZip.ts
  packages/api-service/src/services/documents/attachThumbnailToDocument.ts
  packages/api-service/src/services/documents/createThumbnail.ts
  packages/api-service/src/services/documents/getFileDownloadLinkById.ts
  packages/api-service/src/services/documents/markFileReceived.ts
  packages/api-service/src/services/emails/processSendRequest.ts
  packages/api-service/src/services/jwtAuthorizer/index.ts
  packages/api-service/src/utils/middleware.ts
  packages/api-service/src/utils/sentry.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

faq page (#161)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/CboDashboard/CboDashboard.vue
  packages/frontend/components/DocumentMenu/DocumentMenu.vue
  packages/frontend/components/FooterLinks/FooterLinks.vue
  packages/frontend/components/MarkdownContent/MarkdownContent.spec.ts
  packages/frontend/components/MarkdownContent/MarkdownContent.stories.ts
  packages/frontend/components/MarkdownContent/MarkdownContent.vue
  packages/frontend/components/SideNav/SideNav.vue
  packages/frontend/content/faq/en.md
  packages/frontend/content/terms-of-use/en.md
  packages/frontend/pages/faq/faq.spec.ts
  packages/frontend/pages/faq/index.vue
  packages/frontend/pages/terms-of-use/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

remove activity from agent view (#162)
  packages/frontend/components/AppBar/AppBar.vue
Due: prettier --write, yarn workspace frontend lint --fix

use value instead of breakpoint to toggle desktop sidebar (#163)
  packages/frontend/components/DesktopSideBar/DesktopSideBar.spec.ts
  packages/frontend/components/DesktopSideBar/DesktopSideBar.vue
Due: prettier --write, yarn workspace frontend lint --fix

[FE] Content Security Policy (#157)
  packages/frontend/.env.local
  packages/frontend/assets/fonts/NotoSans-Bold.woff2
  packages/frontend/assets/fonts/NotoSans-BoldItalic.woff2
  packages/frontend/assets/fonts/NotoSans-Italic.woff2
  packages/frontend/assets/fonts/NotoSans-Regular.woff2
  packages/frontend/assets/fonts/materialdesignicons-webfont.eot
  packages/frontend/assets/fonts/materialdesignicons-webfont.ttf
  packages/frontend/assets/fonts/materialdesignicons-webfont.woff
  packages/frontend/assets/fonts/materialdesignicons-webfont.woff2
  packages/frontend/assets/js/csp.ts
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/_fonts.scss
  packages/frontend/assets/scss/_infinite-loading.scss
  packages/frontend/assets/scss/_nuxt.scss
  packages/frontend/assets/scss/_vuetify-theme.scss
  packages/frontend/assets/scss/main.scss
  packages/frontend/mixins/navigation.ts
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  packages/frontend/plugins/env-config.ts
  packages/frontend/static/fonts/NotoSans-Bold.woff2
  packages/frontend/static/fonts/NotoSans-BoldItalic.woff2
  packages/frontend/static/fonts/NotoSans-Italic.woff2
  packages/frontend/static/fonts/NotoSans-Regular.woff2
  packages/frontend/static/fonts/materialdesignicons-webfont.eot
  packages/frontend/static/fonts/materialdesignicons-webfont.ttf
  packages/frontend/static/fonts/materialdesignicons-webfont.woff
  packages/frontend/static/fonts/materialdesignicons-webfont.woff2
  packages/frontend/types/environment.ts
  packages/frontend/vuetify.options.ts
  packages/infra/src/assets/hostedLogin.css
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix

update cbo dashboard (#164)
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/CboDashboard/CboDashboard.vue
  packages/frontend/components/ClientList/ClientList.vue
  packages/frontend/components/FooterLinks/FooterLinks.vue
  packages/frontend/components/icons/close-bold.vue
Due: prettier --write, yarn workspace frontend lint --fix

Cognito styled emails (#165)
  packages/api-service/entrypoints.json
  packages/api-service/package.json
  packages/api-service/src/config.ts
  packages/api-service/src/services/emails/__snapshots__/cognitoCustomMessageHandler.test.ts.snap
  packages/api-service/src/services/emails/cognitoCustomMessageHandler.test.ts
  packages/api-service/src/services/emails/cognitoCustomMessageHandler.ts
  packages/api-service/src/services/emails/emailSender.test.ts
  packages/api-service/src/services/emails/emailSender.ts
  packages/api-service/src/services/emails/renderer.ts
  packages/api-service/src/services/emails/templates/header.mustache
  packages/api-service/src/services/emails/templates/passwordReset.mustache
  packages/api-service/src/services/emails/templates/welcome.mustache
  packages/api-service/src/utils/__mocks__/parameters.ts
  packages/api-service/src/utils/parameters.ts
  packages/api-service/webpack.config.ts
  packages/frontend/assets/images/logo-baltimore.png
  packages/frontend/assets/images/logo-datalocker.png
  packages/frontend/assets/images/logo-nyc.png
  packages/frontend/static/images/city-logo.png
  packages/infra/src/auth-stack.ts
  packages/infra/src/cicd-stack.ts
  packages/infra/src/city-stack.ts
  packages/infra/src/utils/index.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

Updated NYC logos. (#167)
  packages/frontend/assets/images/logo-nyc.png
  packages/frontend/assets/images/logo-nyc.svg
Due: none

close invited delegate delete menu (#166)
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/DelegateCard/DelegateCard.vue
  packages/frontend/pages/account/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Feauture/vuetify theme css fix (#169)
  packages/frontend/assets/scss/_vuetify-theme.scss
Due: none

Feature/44638 csp frame src (#170)
  packages/frontend/assets/js/csp.ts
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/nuxt.config.js
  packages/frontend/plugins/env-config.ts
  packages/frontend/types/environment.ts
Due: prettier --write, yarn workspace frontend lint --fix

Removed address from email footer (#168)
  packages/api-service/src/services/emails/__snapshots__/cognitoCustomMessageHandler.test.ts.snap
  packages/api-service/src/services/emails/__snapshots__/emailSender.test.ts.snap
  packages/api-service/src/services/emails/templates/footer.mustache
Due: none

Sharer information for shared collections (#171)
  docs/api.yaml
  packages/api-client/api.ts
  packages/api-service/src/services/collections/getSharedToUserId.test.ts
  packages/api-service/src/services/collections/getSharedToUserId.ts
  packages/api-service/src/services/collections/index.ts
  packages/api-service/src/services/users/__mocks__/index.ts
  packages/api-service/src/services/users/index.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

Align image to top (#172)
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/DocumentFile/DocumentFile.vue
Due: prettier --write, yarn workspace frontend lint --fix

[FE] "Sign in" button padding tweak (#174)
  packages/infra/src/assets/hostedLogin.css
Due: none

Feature/46498 copy changes (#173)
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/js/stringUtils/index.ts
  packages/frontend/assets/js/stringUtils/stringUtils.spec.ts
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/ActivityList/ActivityList.vue
  packages/frontend/components/AgentDashboard/AgentDashboard.vue
  packages/frontend/components/ClientList/ClientList.vue
  packages/frontend/components/CollectionList/CollectionList.vue
  packages/frontend/components/ConfirmationDialog/ConfirmationDialog.vue
  packages/frontend/components/DelegateCard/DelegateCard.vue
  packages/frontend/components/DocumentActions/DocumentActions.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/EmptyState/EmptyState.vue
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/components/NavItemList/NavItemList.vue
  packages/frontend/components/ShareButton/ShareButton.vue
  packages/frontend/components/SnackBar/SnackBar.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/package.json
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/authorize/index.vue
  packages/frontend/pages/collections/_id/index.vue
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/delegates/_id/accept/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/login/index.vue
  packages/frontend/pages/share/index.vue
  packages/frontend/static/images/upload.svg
Due: prettier --write, yarn workspace frontend lint --fix

Bugfix/46807 error handle large files (#175)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/pages/delegates/_id/accept/index.vue
  packages/frontend/plugins/env-config.ts
Due: prettier --write, yarn workspace frontend lint --fix

Fix collections listing bug (#177)
  packages/api-service/src/models/collection.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

[BE] All shared documents from a user (#178)
  docs/api.yaml
  packages/api-client/api.ts
  packages/api-service/entrypoints.json
  packages/api-service/src/migrator/migrations/20201211160725_collection_grant_owner_id.ts
  packages/api-service/src/models/__mocks__/collectionGrant.ts
  packages/api-service/src/models/__mocks__/document.ts
  packages/api-service/src/models/collection.test.ts
  packages/api-service/src/models/collection.ts
  packages/api-service/src/models/collectionGrant.test.ts
  packages/api-service/src/models/collectionGrant.ts
  packages/api-service/src/models/document.test.ts
  packages/api-service/src/models/document.ts
  packages/api-service/src/services/activity/processActivity.ts
  packages/api-service/src/services/collections/createCollectionForUser.ts
  packages/api-service/src/services/collections/getGrantsByCollectionId.test.ts
  packages/api-service/src/services/documents/getSharedByUserId.test.ts
  packages/api-service/src/services/documents/getSharedByUserId.ts
  packages/api-service/src/services/documents/index.ts
  packages/api-service/src/services/emails/processSendRequest.ts
  packages/api-service/src/services/jwtAuthorizer/index.test.ts
  packages/api-service/src/services/jwtAuthorizer/index.ts
  packages/api-service/src/services/users/__mocks__/index.ts
  packages/api-service/src/services/users/authorization.ts
  packages/api-service/src/utils/__mocks__/logging.ts
  packages/api-service/src/utils/logging.ts
  packages/api-service/src/utils/middleware.test.ts
  packages/api-service/src/utils/middleware.ts
  packages/api-service/src/utils/parameters.ts
  packages/api-service/src/utils/s3.ts
  packages/infra/src/city-stack.test.ts
  packages/infra/src/city-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

Bugfix/46839 reload document list after upload (#180)
  packages/frontend/components/ClientDashboard/ClientDashboard.vue
  packages/frontend/components/ConfirmationDialog/ConfirmationDialog.vue
  packages/frontend/components/DebugMenu/DebugMenu.vue
  packages/frontend/components/DocumentActions/DocumentActions.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/DocumentMenu/DocumentMenu.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/plugins/env-config.ts
Due: prettier --write, yarn workspace frontend lint --fix

disable data table pagination (#181)
  packages/frontend/components/ClientList/ClientList.vue
  packages/frontend/components/CollectionList/CollectionList.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/SharedCollectionList/SharedCollectionList.vue
  packages/frontend/components/SharedOwnerList/SharedOwnerList.vue
Due: prettier --write, yarn workspace frontend lint --fix

Feature/46772 footer logo (#179)
  packages/frontend/.env.local
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/CityLogo/CityLogo.vue
  packages/frontend/components/CityLogoFooter/CityLogoFooter.spec.ts
  packages/frontend/components/CityLogoFooter/CityLogoFooter.stories.ts
  packages/frontend/components/CityLogoFooter/CityLogoFooter.vue
  packages/frontend/components/LandingMessage/LandingMessage.spec.ts
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/static/images/city-logo-footer.svg
Due: prettier --write, yarn workspace frontend lint --fix
