Repository newamericafoundation/MDDL: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

.lintstagedrc.json:

{
  "packages/api-service/**/*.ts": [
    "yarn workspace @datalocker/api-service lint --fix",
    "prettier --write",
    "git add"
  ],
  "packages/frontend/**/*.{ts,vue}": [
    "yarn workspace frontend lint --fix",
    "prettier --write",
    "git add"
  ],
  "packages/infra/**/*.ts": [
    "yarn workspace infra lint --fix",
    "prettier --write",
    "git add"
  ]
}

Security controls documentation. (#222)
  README.md
  packages/api-service/src/services/documents/createDocumentForUser.test.ts
  packages/api-service/src/utils/middleware.test.ts
  packages/api-service/src/utils/s3.ts
  packages/api-service/src/utils/validation.ts
  packages/infra/src/city-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

Fix document thumbnail reload (#224)
  packages/frontend/components/ClientDashboard/ClientDashboard.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/store/user/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

add toasts to empty layout (#223)
  packages/frontend/.gitignore
  packages/frontend/layouts/empty.vue
  packages/frontend/pages/collections/_id/documents/index.vue
  packages/frontend/store/snackbar/index.ts
  packages/frontend/store/snackbar/snackbar.spec.ts
Due: prettier --write, yarn workspace frontend lint --fix

show collection sharer info (#225)
  packages/frontend/components/SharedCollectionDetails/SharedCollectionDetails.spec.ts
  packages/frontend/components/SharedCollectionDetails/SharedCollectionDetails.stories.ts
  packages/frontend/components/SharedCollectionDetails/SharedCollectionDetails.vue
  packages/frontend/components/SharedCollectionList/SharedCollectionList.vue
  packages/frontend/pages/collections/_id/documents/index.vue
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

add mobile nav to shared collections page (#226)
  packages/frontend/pages/collections/owner/_ownerid/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

update FAQ (#227)
  packages/frontend/assets/content/faq/en.md
Due: none

Altered bucket policy to allow for specified KMS key. (#228)
  packages/api-service/src/utils/zip.test.ts
  packages/infra/src/city-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

Fixed snackbar action. (#230)
  packages/frontend/components/SharedCollectionDetails/SharedCollectionDetails.vue
  packages/frontend/store/snackbar/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

Reset static assets between each app build (#229)
  packages/infra/src/cicd-stack.ts
Due: prettier --write, yarn workspace infra lint --fix

adds a newer template and header to account page (#232)
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/layouts/header.vue
  packages/frontend/pages/account/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

prelim test for name change and markup page updates (#233)
  README.md
  packages/api-service/README.md
  packages/api-service/src/services/emails/__snapshots__/cognitoCustomMessageHandler.test.ts.snap
  packages/api-service/src/services/emails/__snapshots__/emailSender.test.ts.snap
  packages/api-service/src/services/emails/templates/collectionSharedNotification.mustache
  packages/api-service/src/services/emails/templates/delegateUserInvite.mustache
  packages/api-service/src/services/emails/templates/passwordReset.mustache
  packages/api-service/src/services/emails/templates/welcome.mustache
  packages/frontend/assets/content/about/en.md
  packages/frontend/assets/content/faq/en.md
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  packages/infra/README.md
  packages/infra/src/email-sender.ts
Due: prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

adds session storage to prevent multiple tabs sharing roles (#234)
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/store/user/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

name change to CivicLocker and misc bug fixes (#235)
  README.md
  packages/api-service/README.md
  packages/api-service/src/services/emails/__snapshots__/cognitoCustomMessageHandler.test.ts.snap
  packages/api-service/src/services/emails/__snapshots__/emailSender.test.ts.snap
  packages/api-service/src/services/emails/templates/collectionSharedNotification.mustache
  packages/api-service/src/services/emails/templates/delegateUserInvite.mustache
  packages/api-service/src/services/emails/templates/passwordReset.mustache
  packages/api-service/src/services/emails/templates/welcome.mustache
  packages/frontend/assets/content/about/en.md
  packages/frontend/assets/content/faq/en.md
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/ClientDashboard/ClientDashboard.vue
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  packages/frontend/pages/account/index.vue
  packages/frontend/static/images/city-logo.png
  packages/frontend/static/images/city-logo.svg
  packages/infra/README.md
  packages/infra/src/assets/hostedLogin.css
  packages/infra/src/email-sender.ts
Due: prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

Feature/name change and friends (#236)
  packages/frontend/assets/content/faq/en.md
Due: none

asset purge: removing unused and city specific images
  packages/frontend/assets/images/city-logo.png
  packages/frontend/assets/images/city-logo.svg
  packages/frontend/assets/images/logo-baltimore.png
  packages/frontend/assets/images/logo-baltimore.svg
  packages/frontend/assets/images/logo-datalocker-inverse-horiz.svg
  packages/frontend/assets/images/logo-datalocker.png
  packages/frontend/assets/images/logo-datalocker.svg
  packages/frontend/assets/images/logo-nyc.png
  packages/frontend/assets/images/logo-nyc.svg
Due: none

Feature/name change and friends (#237)
  packages/frontend/components/CityLogo/CityLogo.vue
Due: prettier --write, yarn workspace frontend lint --fix

replacing CityLogo url with local asset
  packages/frontend/components/CityLogo/CityLogo.vue
Due: prettier --write, yarn workspace frontend lint --fix

potential fix for delegate access within same browser
  packages/frontend/pages/delegates/_id/accept/index.vue
  packages/frontend/pages/logout/index.vue
  packages/frontend/store/user/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

adds param for setting agent role from shared email
  packages/api-service/src/services/collections/createCollectionForUser.ts
  packages/frontend/assets/content/about/en.md
  packages/frontend/assets/content/faq/en.md
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/pages/collections/owner/_ownerid/index.vue
  packages/frontend/pages/login/index.vue
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix

copy update to faq
  packages/frontend/assets/content/faq/en.md
Due: none

remove account tab when acting as delegate
  packages/frontend/components/AppBar/AppBar.vue
Due: prettier --write, yarn workspace frontend lint --fix

removes unnecessary timeout
  packages/frontend/pages/delegates/_id/accept/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

adds latest name change accross the board
  README.md
  packages/api-service/README.md
  packages/api-service/src/services/emails/__snapshots__/cognitoCustomMessageHandler.test.ts.snap
  packages/api-service/src/services/emails/__snapshots__/emailSender.test.ts.snap
  packages/api-service/src/services/emails/templates/collectionSharedNotification.mustache
  packages/api-service/src/services/emails/templates/delegateUserInvite.mustache
  packages/api-service/src/services/emails/templates/passwordReset.mustache
  packages/api-service/src/services/emails/templates/welcome.mustache
  packages/frontend/assets/content/about/en.md
  packages/frontend/assets/content/faq/en.md
  packages/frontend/assets/images/city-logo.png
  packages/frontend/assets/images/city-logo.svg
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/CityLogo/CityLogo.vue
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  packages/frontend/static/images/city-logo.png
  packages/frontend/static/images/city-logo.svg
  packages/infra/README.md
  packages/infra/src/assets/hostedLogin.css
  packages/infra/src/email-sender.ts
Due: prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

keeps hosted css inline with the deployed version
  packages/infra/src/assets/hostedLogin.css
Due: none

adds welcome copy and slight style updates
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/LandingMessage/LandingMessage.vue
Due: prettier --write, yarn workspace frontend lint --fix

welcome copy updates for Baltimore
  packages/frontend/assets/js/messages.ts
Due: prettier --write, yarn workspace frontend lint --fix

copy update and add cbo manage account tab back in
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/ClientDashboard/ClientDashboard.vue
  packages/infra/src/assets/hostedLogin.css
Due: prettier --write, yarn workspace frontend lint --fix

domain listing defaults when no city specific are provided
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

adds markdown for welcome page
  packages/frontend/assets/content/client/en.md
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/LandingMessage/LandingMessage.vue
Due: prettier --write, yarn workspace frontend lint --fix

catching the repo up with what is deployed
  package.json
  packages/frontend/assets/content/about/en.md
  packages/frontend/assets/content/client/en.md
  packages/frontend/assets/content/faq/en.md
  packages/frontend/assets/content/terms-of-use/en.md
  packages/frontend/assets/content/welcome/en.md
  packages/frontend/assets/images/city-logo.png
  packages/frontend/assets/images/city-logo.svg
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  packages/frontend/pages/index.vue
  packages/frontend/static/images/city-logo.png
  packages/frontend/static/images/city-logo.svg
  packages/infra/src/assets/hostedLogin.css
Due: prettier --write, yarn workspace frontend lint --fix

more copy updates
  package.json
  packages/frontend/assets/content/faq/en.md
  packages/frontend/assets/content/terms-of-use/en.md
  packages/frontend/pages/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Update/docs and genericizing (#238)
  .gitignore
  packages/frontend/README.md
  packages/frontend/assets/content/about/en.md
  packages/frontend/assets/content/faq/en.md
  packages/frontend/assets/content/terms-of-use/en.md
  packages/frontend/assets/content/welcome/en.md
  packages/frontend/assets/favicon.ico
  packages/frontend/assets/icon.png
  packages/frontend/assets/images/city-icon.svg
  packages/frontend/assets/images/city-logo-footer.svg
  packages/frontend/assets/images/city-logo.png
  packages/frontend/assets/images/city-logo.svg
  packages/frontend/assets/images/upload.svg
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/robots.txt
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/CityLogoFooter/CityLogoFooter.vue
  packages/frontend/components/EmptyState/EmptyState.vue
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/pages/login/index.vue
  packages/frontend/static/fonts/NotoSans-Bold.woff2
  packages/frontend/static/fonts/NotoSans-BoldItalic.woff2
  packages/frontend/static/fonts/NotoSans-Italic.woff2
  packages/frontend/static/fonts/NotoSans-Regular.woff2
  packages/frontend/static/fonts/materialdesignicons-webfont.eot
  packages/frontend/static/fonts/materialdesignicons-webfont.ttf
  packages/frontend/static/fonts/materialdesignicons-webfont.woff
  packages/frontend/static/fonts/materialdesignicons-webfont.woff2
  packages/frontend/static/images/city-logo-footer.svg
  packages/frontend/static/images/city-logo.png
  packages/frontend/static/images/city-logo.svg
  packages/infra/README.md
Due: prettier --write, yarn workspace frontend lint --fix

removing push to S3 pipeline
  .github/workflows/push_to_s3.yml
Due: none
