Repository newamericafoundation/MDDL: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

.lintstagedrc.json:

{
  "packages/api-service/**/*.ts": [
    "yarn workspace @datalocker/api-service lint --fix",
    "prettier --write",
    "git add"
  ],
  "packages/frontend/**/*.{ts,vue}": [
    "yarn workspace frontend lint --fix",
    "prettier --write",
    "git add"
  ],
  "packages/infra/**/*.ts": [
    "yarn workspace infra lint --fix",
    "prettier --write",
    "git add"
  ]
}

zip download (#101)
  packages/frontend/assets/js/download.ts
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/CollectionList/CollectionList.vue
  packages/frontend/components/DebugMenu/DebugMenu.spec.ts
  packages/frontend/components/DebugMenu/DebugMenu.vue
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/DocumentMenu/DocumentMenu.vue
  packages/frontend/components/SharedCollectionList/SharedCollectionList.vue
  packages/frontend/components/SharedOwnerList/SharedOwnerList.vue
  packages/frontend/components/SnackBar/SnackBar.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/components/icons/folder.vue
  packages/frontend/components/icons/send.vue
  packages/frontend/layouts/default.vue
  packages/frontend/middleware/default.ts
  packages/frontend/pages/client.landing.stories.ts
  packages/frontend/pages/collections/_id/index.vue
  packages/frontend/pages/collections/_id/viewCollection.spec.ts
  packages/frontend/pages/collections/owner/_ownerid/collectionOwners.spec.ts
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/index.vue
  packages/frontend/store/collection/index.ts
  packages/frontend/store/user/index.ts
  packages/frontend/types/user.ts
  packages/frontend/vuetify.options.ts
Due: prettier --write, yarn workspace frontend lint --fix

[FE] CBO/Carer + Agency landing pages (#99)
  packages/frontend/README.md
  packages/frontend/assets/images/NYC-logo.svg
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/CityLogo/CityLogo.vue
  packages/frontend/components/LandingMessage/LandingMessage.spec.ts
  packages/frontend/components/LandingMessage/LandingMessage.stories.ts
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/layouts/landing.vue
  packages/frontend/mixins/login.ts
  packages/frontend/nuxt.config.js
  packages/frontend/pages/agency/agency.spec.ts
  packages/frontend/pages/agency/agency.stories.ts
  packages/frontend/pages/agency/index.vue
  packages/frontend/pages/community/community.spec.ts
  packages/frontend/pages/community/community.stories.ts
  packages/frontend/pages/community/index.vue
  packages/frontend/static/city-logo.svg
Due: prettier --write, yarn workspace frontend lint --fix

Feature/46171 delegate access (#102)
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/_vuetifyVariables.scss
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/DebugMenu/DebugMenu.spec.ts
  packages/frontend/components/DebugMenu/DebugMenu.vue
  packages/frontend/components/DocumentMenu/DocumentMenu.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/components/icons/chevron-left.vue
  packages/frontend/components/icons/clock.vue
  packages/frontend/components/icons/cog.vue
  packages/frontend/components/icons/signOut.vue
  packages/frontend/layouts/dashboard.vue
  packages/frontend/middleware/default.ts
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/activity/activity.spec.ts
  packages/frontend/pages/activity/index.vue
  packages/frontend/pages/agency/agency.stories.ts
  packages/frontend/pages/community/community.stories.ts
  packages/frontend/pages/share/index.vue
  packages/frontend/store/user/index.ts
  packages/frontend/vuetify.options.ts
Due: prettier --write, yarn workspace frontend lint --fix

Feature/46172 remove delegate (#104)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/DebugMenu/DebugMenu.vue
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/pages/account/account.spec.ts
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/index.vue
  packages/frontend/pages/share/index.vue
  packages/frontend/plugins/store-accessor.ts
  packages/frontend/store/delegate/delegate.spec.ts
  packages/frontend/store/delegate/index.ts
  packages/frontend/store/user/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

Fix User ID context not being loaded correctly (#107)
  packages/api-service/src/services/users/middleware.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

Log in UI customizations per city (#108)
  packages/infra/src/assets/banner.svg
  packages/infra/src/assets/hostedLogin.css
  packages/infra/src/auth-stack.ts
  packages/infra/src/city-stack.ts
  packages/infra/src/utils/index.ts
Due: prettier --write, yarn workspace infra lint --fix

Fix token validity units (#109)
  packages/infra/src/city-stack.ts
Due: prettier --write, yarn workspace infra lint --fix

Information classification (#106)
  README.md
  docs/information_classification.md
  packages/api-service/README.md
Due: none

Feature/46174 46173 cbo delegate access (#110)
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/_colors.scss
  packages/frontend/components/CboDashboard/CboDashboard.spec.ts
  packages/frontend/components/CboDashboard/CboDashboard.stories.ts
  packages/frontend/components/CboDashboard/CboDashboard.vue
  packages/frontend/components/ClientDashboard/ClientDashboard.spec.ts
  packages/frontend/components/ClientDashboard/ClientDashboard.stories.ts
  packages/frontend/components/ClientDashboard/ClientDashboard.vue
  packages/frontend/components/ClientList/ClientList.spec.ts
  packages/frontend/components/ClientList/ClientList.stories.ts
  packages/frontend/components/ClientList/ClientList.vue
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/DocumentMenu/DocumentMenu.vue
  packages/frontend/components/NavItemList/NavItemList.spec.ts
  packages/frontend/components/NavItemList/NavItemList.stories.ts
  packages/frontend/components/NavItemList/NavItemList.vue
  packages/frontend/components/icons/agency.vue
  packages/frontend/components/icons/alert.vue
  packages/frontend/components/icons/chevron-left.vue
  packages/frontend/components/icons/clock.vue
  packages/frontend/components/icons/close-bold.vue
  packages/frontend/components/icons/close-circle-outline.vue
  packages/frontend/components/icons/close.vue
  packages/frontend/components/icons/cog.vue
  packages/frontend/components/icons/delete.vue
  packages/frontend/components/icons/document.vue
  packages/frontend/components/icons/folder.vue
  packages/frontend/components/icons/pencil.vue
  packages/frontend/components/icons/profile.vue
  packages/frontend/components/icons/sign-out.vue
  packages/frontend/components/icons/switch-account.vue
  packages/frontend/layouts/dashboard.vue
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/static/images/upload.svg
  packages/frontend/store/user/index.ts
  packages/frontend/types/delegate.ts
  packages/frontend/types/nav.ts
  packages/frontend/vuetify.options.ts
Due: prettier --write, yarn workspace frontend lint --fix

Feature/46174 46173 cbo delegate access (#111)
  docs/api.yaml
  packages/api-client/api.ts
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/DebugMenu/DebugMenu.vue
  packages/frontend/pages/collections/_id/index.vue
  packages/frontend/pages/delegates/_id/accept/accept.spec.ts
  packages/frontend/pages/delegates/_id/accept/accept.stories.ts
  packages/frontend/pages/delegates/_id/accept/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/store/delegate/index.ts
  packages/frontend/store/user/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

Feature/46322 accept tos (#112)
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/_vuetifyVariables.scss
  packages/frontend/components/CityLogo/CityLogo.vue
  packages/frontend/components/ClientList/ClientList.vue
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/components/SharedCollectionList/SharedCollectionList.vue
  packages/frontend/components/SharedOwnerList/SharedOwnerList.vue
  packages/frontend/middleware/default.ts
  packages/frontend/nuxt.config.js
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/collections/owner/_ownerid/index.vue
  packages/frontend/pages/delegates/_id/accept/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/index.vue
  packages/frontend/pages/login/index.vue
  packages/frontend/pages/terms-of-use/index.vue
  packages/frontend/pages/terms-of-use/tos.spec.ts
  packages/frontend/pages/terms-of-use/tos.stories.ts
  packages/frontend/static/images/city-logo.svg
  packages/frontend/store/user/index.ts
  packages/frontend/types/vue-shim.d.ts
  packages/frontend/vuetify.options.ts
  packages/infra/src/city-stack.ts
Due: prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

initial user profile display (#113)
  packages/frontend/pages/account/account.spec.ts
  packages/frontend/pages/account/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

fix onboarding user roles (#115)
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/mixins/login.ts
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/agency/index.vue
  packages/frontend/pages/community/index.vue
  packages/frontend/pages/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Auditing for collection zip downloads (#118)
  packages/api-service/src/models/__mocks__/file.ts
  packages/api-service/src/models/file.test.ts
  packages/api-service/src/models/file.ts
  packages/api-service/src/services/activity/index.ts
  packages/api-service/src/services/collections/downloadCollectionDocuments.test.ts
  packages/api-service/src/services/collections/downloadCollectionDocuments.ts
  packages/api-service/src/services/collections/getDownloadForCollectionDocuments.test.ts
  packages/api-service/src/services/collections/getDownloadForCollectionDocuments.ts
  packages/api-service/src/services/collections/index.ts
  packages/api-service/src/utils/__mocks__/sqs.ts
  packages/api-service/src/utils/sqs.ts
  packages/infra/src/city-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

add pwa config, mobile testing instructions, fix snackbar css (#116)
  packages/frontend/.env.local
  packages/frontend/README.md
  packages/frontend/assets/scss/main.scss
  packages/frontend/docs/mobile_development.png
  packages/frontend/local/README.md
  packages/frontend/local/localhost.crt
  packages/frontend/local/localhost.key
  packages/frontend/nuxt.config.js
  packages/frontend/pages/share/index.vue
  packages/infra/src/city-stack.ts
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

Delegate pending and expired statuses (#117)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/ConfirmationDialog/ConfirmationDialog.spec.ts
  packages/frontend/components/ConfirmationDialog/ConfirmationDialog.stories.ts
  packages/frontend/components/ConfirmationDialog/ConfirmationDialog.vue
  packages/frontend/components/DelegateCard/DelegateCard.spec.ts
  packages/frontend/components/DelegateCard/DelegateCard.stories.ts
  packages/frontend/components/DelegateCard/DelegateCard.vue
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/terms-of-use/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

[FE] Account Activity page (#119)
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/js/stringUtils/index.ts
  packages/frontend/assets/scss/_vuetifyVariables.scss
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/icons/deleteAlt.vue
  packages/frontend/components/icons/eye.vue
  packages/frontend/components/icons/file.vue
  packages/frontend/components/icons/onBehalf.vue
  packages/frontend/components/icons/pencil.vue
  packages/frontend/package.json
  packages/frontend/pages/activity/index.vue
  packages/frontend/pages/authorize/index.vue
  packages/frontend/pages/login/index.vue
  packages/frontend/static/favicon.ico
  packages/frontend/store/user/index.ts
  packages/frontend/types/activity.ts
  packages/frontend/types/transformed.ts
  packages/frontend/vuetify.options.ts
  packages/infra/src/assets/hostedLogin.css
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix

download zip fixes (#120)
  packages/frontend/middleware/default.ts
  packages/frontend/pages/collections/_id/index.vue
  packages/frontend/store/user/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

move agency view to dashboard (#121)
  packages/frontend/components/AgentDashboard/AgentDashboard.vue
  packages/frontend/components/AgentDashboard/agentDashboard.spec.ts
  packages/frontend/components/CboDashboard/CboDashboard.vue
  packages/frontend/pages/collections/shared/index.vue
  packages/frontend/pages/collections/shared/sharedCollections.spec.ts
  packages/frontend/pages/dashboard/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

upload name max length validation (#123)
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/pages/activity/index.vue
  packages/frontend/store/user/index.ts
  packages/frontend/types/transformed.ts
Due: prettier --write, yarn workspace frontend lint --fix

redirect to previous page after share (#124)
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

[FE] Add remaining events to Account Activity (#122)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/ClientDashboard/ClientDashboard.vue
  packages/frontend/components/ClientList/ClientList.vue
  packages/frontend/components/DebugMenu/DebugMenu.vue
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/SharedOwnerList/SharedOwnerList.vue
  packages/frontend/components/UploadButton/UploadButton.stories.ts
  packages/frontend/components/icons/delegate.vue
  packages/frontend/components/icons/delete-alt.vue
  packages/frontend/components/icons/send.vue
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/activity/index.vue
  packages/frontend/pages/delegates/_id/accept/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/documents/_id/viewDocument.stories.ts
  packages/frontend/store/collection/index.ts
  packages/frontend/store/document/index.ts
  packages/frontend/store/snackbar/index.ts
  packages/frontend/types/activity.ts
  packages/frontend/types/transformed.ts
  packages/frontend/vuetify.options.ts
Due: prettier --write, yarn workspace frontend lint --fix

[FE] Add favicon/app icons for generic/cities (#125)
  packages/frontend/assets/images/logo-baltimore.svg
  packages/frontend/assets/images/logo-datalocker-inverse-horiz.svg
  packages/frontend/assets/images/logo-datalocker.svg
  packages/frontend/assets/images/logo-nyc.svg
  packages/infra/src/assets/hostedLogin.css
Due: none

[BE] Email when Account Delegate invite sent (#126)
  packages/api-service/entrypoints.json
  packages/api-service/fileStub.js
  packages/api-service/jest.config.js
  packages/api-service/package.json
  packages/api-service/src/config.ts
  packages/api-service/src/services/accountDelegates/addAccountDelegate.test.ts
  packages/api-service/src/services/accountDelegates/addAccountDelegate.ts
  packages/api-service/src/services/collections/createCollectionForUser.ts
  packages/api-service/src/services/emails/__mocks__/index.ts
  packages/api-service/src/services/emails/__snapshots__/.gitignore
  packages/api-service/src/services/emails/__snapshots__/emailSender.test.ts.snap
  packages/api-service/src/services/emails/emailSender.test.ts
  packages/api-service/src/services/emails/emailSender.ts
  packages/api-service/src/services/emails/index.ts
  packages/api-service/src/services/emails/processSendRequest.ts
  packages/api-service/src/services/emails/sendSharedCollectionNotification.test.ts
  packages/api-service/src/services/emails/sendSharedCollectionNotification.ts
  packages/api-service/src/services/emails/templates/delegateUserInvite.mustache
  packages/api-service/src/services/emails/templates/header.mustache
  packages/api-service/src/services/emails/templates/horizontalRule.mustache
  packages/api-service/src/services/emails/templates/index.d.ts
  packages/api-service/src/services/emails/validation.ts
  packages/api-service/webpack.config.js
  packages/infra/src/city-stack.test.ts
  packages/infra/src/city-stack.ts
  yarn.lock
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

[FE-FIX] Exclude user terms from Account Activity UI (#127)
  packages/frontend/pages/activity/index.vue
  packages/frontend/types/activity.ts
Due: prettier --write, yarn workspace frontend lint --fix

Feature/46465 add terms of use to sidebar (#130)
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/_vuetifyVariables.scss
  packages/frontend/components/AgentDashboard/AgentDashboard.vue
  packages/frontend/components/CboDashboard/CboDashboard.vue
  packages/frontend/components/ClientDashboard/ClientDashboard.vue
  packages/frontend/components/ClientList/ClientList.vue
  packages/frontend/components/DebugMenu/DebugMenu.vue
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/SharedOwnerList/SharedOwnerList.vue
  packages/frontend/components/SideNav/SideNav.spec.ts
  packages/frontend/components/SideNav/SideNav.stories.ts
  packages/frontend/components/SideNav/SideNav.vue
  packages/frontend/components/UploadButton/UploadButton.stories.ts
  packages/frontend/layouts/dashboard.vue
  packages/frontend/middleware/default.ts
  packages/frontend/mixins/navigation.ts
  packages/frontend/nuxt.config.js
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/activity/index.vue
  packages/frontend/pages/collections/_id/index.vue
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/delegates/_id/accept/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/documents/_id/viewDocument.stories.ts
  packages/frontend/pages/share/index.vue
  packages/frontend/pages/terms-of-use/index.vue
  packages/frontend/pages/terms-of-use/tos.spec.ts
  packages/frontend/plugins/store-accessor.ts
  packages/frontend/store/collection/index.ts
  packages/frontend/store/document/index.ts
  packages/frontend/store/navBar/index.ts
  packages/frontend/store/snackbar/index.ts
  packages/frontend/store/user/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

Landing pages copy updates + minor style adjustments (#129)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/pages/index.vue
  packages/infra/src/assets/hostedLogin.css
Due: prettier --write, yarn workspace frontend lint --fix

Fix webpack config syntax (#131)
  packages/api-service/webpack.config.js
Due: none

Fix AWS errors being passed through as HTTP errors (#128)
  packages/api-service/src/utils/middleware.test.ts
  packages/api-service/src/utils/middleware.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

Truncate text (#136)
  packages/frontend/pages/activity/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Feature/46475 46471 46472 46473 46474 google analytics events (#132)
  packages/api-service/src/services/emails/index.ts
  packages/api-service/src/utils/sqs.ts
  packages/frontend/__mocks__/vue-analytics.ts
  packages/frontend/components/DebugMenu/DebugMenu.vue
  packages/frontend/components/DelegateCard/DelegateCard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/DocumentMenu/DocumentMenu.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/nuxt.config.js
  packages/frontend/pages/account/index.vue
  packages/frontend/plugins/store-accessor.ts
  packages/frontend/store/delegate/index.ts
  packages/frontend/store/document/document.spec.ts
  packages/frontend/store/document/index.ts
  packages/frontend/store/snackbar/snackbar.spec.ts
  packages/frontend/store/user/index.ts
  packages/frontend/store/user/user.spec.ts
  packages/frontend/templates/new/store/storeGetModule.ejs.t
  packages/frontend/types/vue-shim.d.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix

agent cannot edit document details (#139)
  packages/frontend/components/ConfirmationDialog/ConfirmationDialog.vue
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentMenu/DocumentMenu.vue
  packages/frontend/pages/documents/_id/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

agent view mobile styling (#138)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/ClientList/ClientList.vue
  packages/frontend/components/ConfirmationDialog/ConfirmationDialog.vue
  packages/frontend/components/SharedCollectionList/SharedCollectionList.vue
  packages/frontend/components/SharedOwnerList/SharedOwnerList.vue
Due: prettier --write, yarn workspace frontend lint --fix

Latest assets supplied by Design (#135)
  packages/frontend/assets/images/logo-nyc.svg
  packages/frontend/static/favicon.ico
Due: none

[FE] a11y contrast issues + a11y linter (#134)
  .prettierrc
  packages/frontend/.eslintrc.js
  packages/frontend/README.md
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/DocumentFile/DocumentFile.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/package.json
  packages/frontend/pages/activity/index.vue
  packages/infra/src/assets/hostedLogin.css
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix

Fix email processor to allow permissions to send emails (#140)
  packages/infra/src/city-stack.ts
Due: prettier --write, yarn workspace infra lint --fix

application monitoring (#141)
  packages/frontend/.env.local
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  yarn.lock
Due: none
