Repository newamericafoundation/MDDL: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

.lintstagedrc.json:

{
  "packages/api-service/**/*.ts": [
    "yarn workspace @datalocker/api-service lint --fix",
    "prettier --write",
    "git add"
  ],
  "packages/frontend/**/*.{ts,vue}": [
    "yarn workspace frontend lint --fix",
    "prettier --write",
    "git add"
  ],
  "packages/infra/**/*.ts": [
    "yarn workspace infra lint --fix",
    "prettier --write",
    "git add"
  ]
}

Bugfix/46879 share flow footer covers content (#182)
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/FooterCard/FooterCard.vue
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Bugfix/46880 fix activity title wrapping (#183)
  packages/frontend/components/ActivityList/ActivityList.vue
  packages/frontend/components/DesktopSideBar/DesktopSideBar.vue
  packages/frontend/components/DocumentActions/DocumentActions.vue
  packages/frontend/components/icons/pencil.vue
Due: prettier --write, yarn workspace frontend lint --fix

[FIX] Constrain document image dimensions (#184)
  packages/frontend/components/DocumentFile/DocumentFile.vue
  packages/infra/src/assets/hostedLogin.css
Due: prettier --write, yarn workspace frontend lint --fix

Rename "Data Locker" to "Datalocker" (#185)
  packages/api-service/README.md
  packages/api-service/src/services/emails/__snapshots__/cognitoCustomMessageHandler.test.ts.snap
  packages/api-service/src/services/emails/cognitoCustomMessageHandler.ts
  packages/api-service/src/services/emails/emailSender.test.ts
  packages/api-service/src/services/emails/index.ts
  packages/infra/README.md
  packages/infra/src/auth-stack.ts
  packages/infra/src/email-sender.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

User information is truncated if needed from auth provider (#186)
  packages/api-service/src/services/users/index.test.ts
  packages/api-service/src/services/users/index.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

NYC.ID Handle unverified users (#189)
  packages/api-service/src/config.ts
  packages/api-service/src/services/jwtAuthorizer/index.ts
  packages/api-service/src/services/users/index.ts
  packages/api-service/src/utils/api-gateway.ts
  packages/api-service/src/utils/middleware.ts
  packages/frontend/plugins/api-accessor.ts
  packages/infra/README.md
  packages/infra/src/city-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

Feature/46860 46859 landing page improvements (#188)
  packages/frontend/README.md
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/ClientList/ClientList.vue
  packages/frontend/components/FooterLinks/FooterLinks.vue
  packages/frontend/components/LandingMessage/LandingMessage.spec.ts
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/components/SharedOwnerList/SharedOwnerList.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/content/about/en.md
  packages/frontend/content/faq/en.md
  packages/frontend/middleware/default.ts
  packages/frontend/mixins/login.ts
  packages/frontend/nuxt.config.js
  packages/frontend/pages/about/index.vue
  packages/frontend/pages/account/account.spec.ts
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/agency/index.vue
  packages/frontend/pages/client.landing.spec.ts
  packages/frontend/pages/client/client.spec.ts
  packages/frontend/pages/client/client.stories.ts
  packages/frontend/pages/client/index.vue
  packages/frontend/pages/collections/_id/index.vue
  packages/frontend/pages/community/index.vue
  packages/frontend/pages/default.landing.spec.ts
  packages/frontend/pages/default.landing.stories.ts
  packages/frontend/pages/faq/index.vue
  packages/frontend/pages/index.vue
  packages/frontend/pages/share/index.vue
  packages/frontend/pages/terms-of-use/index.vue
  packages/frontend/plugins/vee-validate.js
  packages/frontend/store/user/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

Fix/46936 markdown failing to render (#187)
  packages/frontend/assets/content/about/en.md
  packages/frontend/assets/content/faq/en.md
  packages/frontend/assets/content/terms-of-use/en.md
  packages/frontend/components/MarkdownContent/MarkdownContent.vue
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  packages/frontend/pages/about/about.spec.ts
  packages/frontend/pages/about/index.vue
  packages/frontend/pages/faq/faq.spec.ts
  packages/frontend/pages/faq/index.vue
  packages/frontend/pages/terms-of-use/index.vue
  packages/frontend/pages/terms-of-use/tos.spec.ts
  packages/frontend/plugins/env-config.ts
  packages/frontend/plugins/showdown.ts
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix

Handle logout from identity providers. (#191)
  packages/api-service/src/utils/oauth.ts
  packages/frontend/.env.local
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/SideNav/SideNav.vue
  packages/frontend/nuxt.config.js
  packages/infra/src/assets/hostedLogin.css
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix

Fix URL check for if tiff image has already been processed (#193)
  packages/frontend/assets/js/csp.ts
  packages/frontend/components/DocumentFile/DocumentFile.vue
Due: prettier --write, yarn workspace frontend lint --fix

fix mobile hamburger menu (#190)
  packages/frontend/.nuxtignore
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/ActivityList/ActivityList.vue
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/Breadcrumbs/Breadcrumbs.spec.ts
  packages/frontend/components/Breadcrumbs/Breadcrumbs.stories.ts
  packages/frontend/components/Breadcrumbs/Breadcrumbs.vue
  packages/frontend/components/CboDashboard/CboDashboard.vue
  packages/frontend/components/ClientDashboard/ClientDashboard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/components/ShareButton/ShareButton.vue
  packages/frontend/layouts/landing.vue
  packages/frontend/middleware/default.ts
  packages/frontend/pages/agency/index.vue
  packages/frontend/pages/client/index.vue
  packages/frontend/pages/community/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/documents/_id/viewDocument.spec.ts
  packages/frontend/pages/index.vue
  packages/frontend/store/user/index.ts
  packages/frontend/types/nav.ts
Due: prettier --write, yarn workspace frontend lint --fix

Minor padding fix (#192)
  packages/frontend/pages/terms-of-use/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

fix cbo breadcrumbs (#194)
  packages/frontend/components/Breadcrumbs/Breadcrumbs.vue
  packages/frontend/components/ClientDashboard/ClientDashboard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/pages/collections/_id/index.vue
  packages/frontend/store/user/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

Register Logout URLs with Cognito (#195)
  packages/infra/src/city-stack.ts
Due: prettier --write, yarn workspace infra lint --fix

[FIX] Activity log day incorrect on UI (#197)
  packages/frontend/components/ActivityList/ActivityList.vue
Due: prettier --write, yarn workspace frontend lint --fix

Fixed Terms of Use page not handling logout correctly. (#196)
  packages/frontend/middleware/default.ts
  packages/frontend/pages/logout/index.vue
  packages/frontend/pages/logout/logout.spec.ts
  packages/frontend/pages/logout/logout.stories.ts
  packages/frontend/pages/terms-of-use/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Bugfix/46985 46993 collection page and copy fixes (#198)
  packages/api-service/src/services/emails/__snapshots__/cognitoCustomMessageHandler.test.ts.snap
  packages/api-service/src/services/emails/__snapshots__/emailSender.test.ts.snap
  packages/api-service/src/services/emails/cognitoCustomMessageHandler.ts
  packages/api-service/src/services/emails/emailSender.test.ts
  packages/api-service/src/services/emails/index.ts
  packages/api-service/src/services/emails/templates/collectionSharedNotification.mustache
  packages/api-service/src/services/emails/templates/passwordReset.mustache
  packages/frontend/assets/content/faq/en.md
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/ClientDashboard/ClientDashboard.vue
  packages/frontend/components/CollectionCard/CollectionCard.vue
  packages/frontend/components/CollectionList/CollectionList.vue
  packages/frontend/components/ShareButton/ShareButton.spec.ts
  packages/frontend/components/ShareButton/ShareButton.vue
  packages/frontend/components/SharedCollectionCard/SharedCollectionCard.vue
  packages/frontend/components/SharedCollectionList/SharedCollectionList.vue
  packages/frontend/components/SharedOwnerList/SharedOwnerList.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/pages/collections/_id/documents/index.vue
  packages/frontend/pages/collections/_id/viewCollection.spec.ts
  packages/frontend/pages/collections/owner/_ownerid/index.vue
  packages/frontend/pages/share/index.vue
  packages/frontend/store/user/index.ts
  packages/infra/src/auth-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

Bugfix: Thumbnails not being deleted (#199)
  packages/api-service/src/models/document.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

[FIX] Hide download zip button (#200)
  packages/frontend/nuxt.config.js
  packages/frontend/pages/collections/_id/documents/index.vue
  packages/frontend/static/icon.png
Due: prettier --write, yarn workspace frontend lint --fix

remove v-window swipe controls (#201)
  packages/frontend/components/CboDashboard/CboDashboard.vue
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Allow delegates to list user activity (#202)
  packages/api-service/src/services/activity/listAccountActivity.ts
  packages/api-service/src/services/collections/createCollectionZip.ts
  packages/api-service/src/services/collections/downloadCollectionDocuments.test.ts
  packages/api-service/src/services/collections/getDocumentsByCollectionId.test.ts
  packages/api-service/src/services/collections/getDownloadForCollectionDocuments.test.ts
  packages/api-service/src/services/documents/getByUserId.test.ts
  packages/api-service/src/services/documents/getFileDownloadLinkById.test.ts
  packages/api-service/src/services/documents/getFileDownloadLinkById.ts
  packages/api-service/src/services/documents/index.ts
  packages/api-service/src/services/users/authorization.ts
  packages/api-service/src/utils/__mocks__/s3.ts
  packages/api-service/src/utils/fileNamer.ts
  packages/frontend/components/ActivityList/ActivityList.vue
  packages/frontend/components/AppBar/AppBar.vue
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix

robots.txt added (#203)
  README.md
  packages/frontend/static/robots.txt
Due: none

Fix hamburger menu not working (#205)
  packages/frontend/components/SideNav/SideNav.vue
Due: prettier --write, yarn workspace frontend lint --fix

show loading spinner on error state and fix download zip copy (#207)
  packages/frontend/layouts/error.vue
  packages/frontend/pages/collections/_id/documents/index.vue
  packages/frontend/pages/logout/logout.stories.ts
Due: prettier --write, yarn workspace frontend lint --fix

[FIX] Truncate overlong text w/ellipsis (#206)
  packages/frontend/assets/scss/_helpers.scss
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/Breadcrumbs/Breadcrumbs.vue
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/types/vue-shim.d.ts
Due: prettier --write, yarn workspace frontend lint --fix

Always show footer links for landing page (#204)
  packages/frontend/components/FooterLinks/FooterLinks.vue
  packages/frontend/components/LandingMessage/LandingMessage.spec.ts
  packages/frontend/components/LandingMessage/LandingMessage.vue
  packages/frontend/layouts/landing.vue
Due: prettier --write, yarn workspace frontend lint --fix

snackbar timeout (#209)
  packages/frontend/components/DelegateCard/DelegateCard.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/pages/collections/_id/documents/index.vue
  packages/frontend/store/snackbar/index.ts
  packages/frontend/types/snackbar.ts
Due: prettier --write, yarn workspace frontend lint --fix

Message customization for delegated users viewing activity on delegated user activities (including self) (#210)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/ActivityList/ActivityList.vue
  packages/frontend/types/activity.ts
Due: prettier --write, yarn workspace frontend lint --fix

Bugfix/46921 back button on share flow (#208)
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Hack to force Vuetify's dialog styles (#211)
  packages/frontend/assets/scss/_vuetify-dialog.scss
  packages/frontend/assets/scss/main.scss
Due: none

Validate email on input (#213)
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Fix link in shared collection email (#212)
  packages/api-service/src/services/collections/createCollectionForUser.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

CI/CD asset overrides now includes both static and asset paths. (#214)
  packages/frontend/assets/js/messageOverrides.ts
  packages/frontend/assets/js/messages.ts
  packages/infra/README.md
  packages/infra/src/cicd-stack.ts
  packages/infra/src/city-stack.ts
Due: prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

make charset first meta tag (#215)
  packages/frontend/nuxt.config.js
Due: none

Append permissions together for different roles. (#216)
  packages/api-service/src/services/collections/authorization.ts
  packages/api-service/src/services/documents/authorization.ts
  packages/api-service/src/services/users/authorization.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

share flow and delegate access validation changes (#217)
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

[FE] fix for missing edit panel on subsequent uploads (#219)
  packages/frontend/components/UploadButton/UploadButton.vue
Due: prettier --write, yarn workspace frontend lint --fix

Snackbar style tweaks (#218)
  packages/frontend/assets/scss/main.scss
Due: none

Fixed some errors reported to sentry. (#220)
  packages/api-service/src/services/activity/listAccountActivity.ts
  packages/api-service/src/utils/logstream.ts
  packages/frontend/README.md
  packages/infra/src/city-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

collapse extracted css paths (#221)
  packages/frontend/nuxt.config.js
  packages/frontend/pages/collections/_id/documents/index.vue
Due: prettier --write, yarn workspace frontend lint --fix
