Repository newamericafoundation/MDDL: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

.lintstagedrc.json:

{
  "packages/api-service/**/*.ts": [
    "yarn workspace @datalocker/api-service lint --fix",
    "prettier --write",
    "git add"
  ],
  "packages/frontend/**/*.{ts,vue}": [
    "yarn workspace frontend lint --fix",
    "prettier --write",
    "git add"
  ],
  "packages/infra/**/*.ts": [
    "yarn workspace infra lint --fix",
    "prettier --write",
    "git add"
  ]
}

Fix file content type not being included (#60)
  packages/api-service/src/constants.test.ts
  packages/api-service/src/constants.ts
  packages/api-service/src/services/documents/createDocumentForUser.test.ts
  packages/api-service/src/services/documents/getById.test.ts
  packages/api-service/src/services/documents/index.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

Feature/45864 preview document (#61)
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/BackButton/BackButton.spec.ts
  packages/frontend/components/BackButton/BackButton.stories.ts
  packages/frontend/components/BackButton/BackButton.vue
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentFile/DocumentFile.spec.ts
  packages/frontend/components/DocumentFile/DocumentFile.stories.ts
  packages/frontend/components/DocumentFile/DocumentFile.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/SnackBar/SnackBar.vue
  packages/frontend/components/icons/download.vue
  packages/frontend/layouts/default.vue
  packages/frontend/package.json
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/share/index.vue
  packages/frontend/pages/share/share.spec.ts
  packages/frontend/store/document/index.ts
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix

Include description in single document response (#63)
  packages/api-service/src/services/documents/getById.test.ts
  packages/api-service/src/services/documents/index.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

Include user ID in the shared collections response (#64)
  docs/api.yaml
  packages/api-client/api.ts
  packages/api-service/src/services/collections/getSharedToUserId.test.ts
  packages/api-service/src/services/collections/index.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

edit document initial (#65)
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/js/stringUtils/index.ts
  packages/frontend/assets/scss/main.scss
  packages/frontend/assets/scss/vuetifyVariables.scss
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentFile/DocumentFile.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/components/icons/pencil.vue
  packages/frontend/nuxt.config.js
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/plugins/vee-validate.js
  packages/frontend/store/document/index.ts
  packages/frontend/store/user/index.ts
  packages/frontend/vuetify.options.ts
Due: prettier --write, yarn workspace frontend lint --fix

[BE] Delete document endpoint (#66)
  packages/api-service/src/models/__mocks__/document.ts
  packages/api-service/src/models/document.test.ts
  packages/api-service/src/models/document.ts
  packages/api-service/src/services/documents/createThumbnail.ts
  packages/api-service/src/services/documents/deleteDocumentById.test.ts
  packages/api-service/src/services/documents/deleteDocumentById.ts
  packages/api-service/src/utils/__mocks__/s3.ts
  packages/api-service/src/utils/s3.test.ts
  packages/api-service/src/utils/s3.ts
  packages/api-service/webpack.config.js
  packages/infra/src/city-stack.test.ts
  packages/infra/src/city-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

[BE] Fix PDF thumbnail generation (#67)
  packages/api-service/src/services/documents/createThumbnail.test.ts
  packages/api-service/src/services/documents/createThumbnail.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

[BE] Agency Whitelist (#68)
  packages/api-service/src/services/collections/authorization.ts
  packages/api-service/src/services/collections/createCollectionForUser.test.ts
  packages/api-service/src/services/collections/getByUserId.test.ts
  packages/api-service/src/services/collections/getDocumentsByCollectionId.ts
  packages/api-service/src/services/collections/getSharedToUserId.test.ts
  packages/api-service/src/services/collections/getSharedToUserId.ts
  packages/api-service/src/services/collections/validation.ts
  packages/api-service/src/services/documents/authorization.ts
  packages/api-service/src/services/documents/createDocumentForUser.test.ts
  packages/api-service/src/services/documents/createDocumentForUser.ts
  packages/api-service/src/services/documents/getById.test.ts
  packages/api-service/src/services/documents/getById.ts
  packages/api-service/src/services/documents/getByUserId.ts
  packages/api-service/src/services/documents/getFileDownloadLinkById.ts
  packages/api-service/src/services/documents/index.ts
  packages/api-service/src/services/user/authorization.ts
  packages/api-service/src/utils/__mocks__/s3.ts
  packages/api-service/src/utils/__mocks__/whitelist.ts
  packages/api-service/src/utils/s3.test.ts
  packages/api-service/src/utils/s3.ts
  packages/api-service/src/utils/whitelist.test.ts
  packages/api-service/src/utils/whitelist.ts
  packages/infra/src/cicd-stack.ts
  packages/infra/src/city-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

3 tier shared collections view (#69)
  packages/frontend/assets/js/jest.setup.js
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/CollectionList/CollectionList.vue
  packages/frontend/components/CollectionOwnerCard/CollectionOwnerCard.spec.ts
  packages/frontend/components/CollectionOwnerCard/CollectionOwnerCard.stories.ts
  packages/frontend/components/CollectionOwnerCard/CollectionOwnerCard.vue
  packages/frontend/components/SharedCollectionCard/SharedCollectionCard.vue
  packages/frontend/components/SharedOwnerList/SharedOwnerList.spec.ts
  packages/frontend/components/SharedOwnerList/SharedOwnerList.vue
  packages/frontend/jest.config.js
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/collections/_id/index.vue
  packages/frontend/pages/collections/owner/_ownerid/index.vue
  packages/frontend/pages/collections/owner/_ownerid/viewCollection.spec.ts
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/store/user/index.ts
  packages/frontend/types/transformed.ts
Due: prettier --write, yarn workspace frontend lint --fix

delete doc initial (#70)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/DocumentMenu/DocumentMenu.spec.ts
  packages/frontend/components/DocumentMenu/DocumentMenu.stories.ts
  packages/frontend/components/DocumentMenu/DocumentMenu.vue
  packages/frontend/components/icons/delete.vue
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/store/document/index.ts
  packages/frontend/vuetify.options.ts
Due: prettier --write, yarn workspace frontend lint --fix

update translations to UI Design R4 (#71)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/CollectionList/CollectionList.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/DocumentMenu/DocumentMenu.vue
  packages/frontend/components/SharedOwnerList/SharedOwnerList.vue
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

[FE] Email domain whitelist validation (#72)
  packages/frontend/nuxt.config.js
  packages/frontend/pages/share/index.vue
  packages/frontend/pages/share/share.spec.ts
  packages/frontend/plugins/vee-validate.js
Due: prettier --write, yarn workspace frontend lint --fix

[FE] Client landing page (#74)
  packages/frontend/README.md
  packages/infra/src/assets/hostedLogin.css
  packages/infra/src/assets/nyc-logo-mark.svg
Due: none

Feature/45863 design review fixes (#73)
  packages/frontend/assets/js/jest.setup.js
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/colors.scss
  packages/frontend/assets/scss/main.scss
  packages/frontend/assets/scss/variables.scss
  packages/frontend/assets/scss/vuetifyVariables.scss
  packages/frontend/components/BackButton/BackButton.vue
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/DocumentMenu/DocumentMenu.vue
  packages/frontend/components/SnackBar/SnackBar.spec.ts
  packages/frontend/components/SnackBar/SnackBar.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/components/icons/chevron-left.vue
  packages/frontend/components/icons/close-bold.vue
  packages/frontend/components/icons/close-circle-outline.vue
  packages/frontend/components/icons/menu.vue
  packages/frontend/components/icons/plus.vue
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/authorize/index.vue
  packages/frontend/pages/collections/_id/index.vue
  packages/frontend/pages/collections/_id/viewCollection.spec.ts
  packages/frontend/pages/collections/owner/_ownerid/collectionOwners.spec.ts
  packages/frontend/pages/collections/owner/_ownerid/index.vue
  packages/frontend/pages/collections/shared/index.vue
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/index.vue
  packages/frontend/pages/login/index.vue
  packages/frontend/pages/share/index.vue
  packages/frontend/store/user/index.ts
  packages/frontend/vuetify.options.ts
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix

Refactored environment variables for greater clarity and reduced repeated code. (#75)
  packages/api-service/README.md
  packages/infra/src/city-stack.ts
Due: prettier --write, yarn workspace infra lint --fix

Fix broken Collections toast link (#76)
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

fix collection empty state (#78)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/CollectionList/CollectionList.vue
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/pages/collections/_id/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Customize signup form labels (#79)
  packages/infra/src/assets/hostedLogin.css
Due: none

Feature/46050 design review fixes (#80)
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/CollectionCard/CollectionCard.vue
  packages/frontend/components/CollectionList/CollectionList.vue
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/SnackBar/SnackBar.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/pages/share/index.vue
  packages/frontend/pages/share/share.spec.ts
Due: prettier --write, yarn workspace frontend lint --fix

Bugfix/45987 handle auth session timeout (#77)
  packages/frontend/plugins/api-accessor.ts
  packages/frontend/store/collection/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

prefill upload name (#81)
  packages/frontend/components/UploadButton/UploadButton.vue
Due: prettier --write, yarn workspace frontend lint --fix

add max length validation for document name (#83)
  packages/frontend/pages/documents/_id/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

add dashboard tab query param and fix 401 handling (#82)
  packages/frontend/README.md
  packages/frontend/components/DebugMenu/DebugMenu.spec.ts
  packages/frontend/components/DebugMenu/DebugMenu.stories.ts
  packages/frontend/components/DebugMenu/DebugMenu.vue
  packages/frontend/nuxt.config.js
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/share/index.vue
  packages/frontend/plugins/api-accessor.ts
  packages/frontend/store/user/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

remove rename link on upload complete snack (#84)
  packages/frontend/components/SnackBar/SnackBar.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/types/snackbar.ts
Due: prettier --write, yarn workspace frontend lint --fix

Fetch TIFF images manually and convert. (#85)
  packages/frontend/components/DocumentFile/DocumentFile.vue
  packages/frontend/tsconfig.json
  packages/frontend/types/utif.d.ts
Due: prettier --write, yarn workspace frontend lint --fix

Fixed up skeleton loaders to align with the shape of the document cards. (#86)
  packages/frontend/components/AppBar/AppBar.spec.ts
  packages/frontend/components/CollectionCard/CollectionCard.spec.ts
  packages/frontend/components/CollectionList/CollectionList.spec.ts
  packages/frontend/components/CollectionList/CollectionList.vue
  packages/frontend/components/DocumentCard/DocumentCard.spec.ts
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/DocumentList/DocumentList.spec.ts
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/SharedCollectionCard/SharedCollectionCard.spec.ts
  packages/frontend/components/SnackBar/SnackBar.spec.ts
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/share/share.spec.ts
Due: prettier --write, yarn workspace frontend lint --fix

enable share flow tests (#88)
  packages/frontend/pages/share/index.vue
  packages/frontend/pages/share/share.spec.ts
Due: prettier --write, yarn workspace frontend lint --fix

fix list margins (#90)
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/pages/collections/_id/index.vue
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

[FE] Address client feedback - add cancel button to share confirmation screen (#87)
  packages/frontend/assets/scss/main.scss
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Fixed placeholder image for document card. (#89)
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/UploadButton/UploadButton.stories.ts
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/store/user/index.ts
  packages/frontend/tsconfig.json
Due: prettier --write, yarn workspace frontend lint --fix

categorise, comment and relabel translations (#91)
  packages/frontend/assets/js/messages.ts
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/CollectionList/CollectionList.vue
  packages/frontend/components/DocumentList/DocumentList.vue
  packages/frontend/components/DocumentMenu/DocumentMenu.vue
  packages/frontend/components/SharedCollectionList/SharedCollectionList.vue
  packages/frontend/components/SharedOwnerList/SharedOwnerList.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/layouts/dashboard.vue
  packages/frontend/nuxt.config.js
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/authorize/index.vue
  packages/frontend/pages/collections/_id/index.vue
  packages/frontend/pages/collections/owner/_ownerid/index.vue
  packages/frontend/pages/collections/shared/index.vue
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/login/index.vue
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

add document upload analytics event (#93)
  packages/frontend/.env.local
  packages/frontend/components/DebugMenu/DebugMenu.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  packages/frontend/types/vue-shim.d.ts
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix

Feature/46179 document upload analytics (#96)
  packages/frontend/.env.local
  packages/frontend/README.md
  packages/frontend/layouts/dashboard.vue
  packages/frontend/nuxt.config.js
Due: prettier --write, yarn workspace frontend lint --fix

City static assets (#97)
  packages/infra/README.md
  packages/infra/src/cicd-stack.ts
  packages/infra/src/city-stack.ts
Due: prettier --write, yarn workspace infra lint --fix

Fix S3 sync command order (#98)
  packages/infra/src/cicd-stack.ts
Due: prettier --write, yarn workspace infra lint --fix

Feature/45963 client landing page flow (#94)
  packages/frontend/README.md
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/_colors.scss
  packages/frontend/assets/scss/_helpers.scss
  packages/frontend/assets/scss/_variables.scss
  packages/frontend/assets/scss/_vuetifyVariables.scss
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/ButtonLarge/ButtonLarge.spec.ts
  packages/frontend/components/ButtonLarge/ButtonLarge.stories.ts
  packages/frontend/components/ButtonLarge/ButtonLarge.vue
  packages/frontend/components/CityLogo/CityLogo.spec.ts
  packages/frontend/components/CityLogo/CityLogo.stories.ts
  packages/frontend/components/CityLogo/CityLogo.vue
  packages/frontend/components/VuetifyLogo.vue
  packages/frontend/layouts/centered.vue
  packages/frontend/layouts/dashboard.vue
  packages/frontend/layouts/error.vue
  packages/frontend/middleware/default.ts
  packages/frontend/nuxt.config.js
  packages/frontend/pages/authorize/authorize.spec.ts
  packages/frontend/pages/authorize/index.vue
  packages/frontend/pages/client.landing.spec.ts
  packages/frontend/pages/client.landing.stories.ts
  packages/frontend/pages/index.vue
  packages/frontend/pages/login/index.vue
  packages/frontend/pages/share/index.vue
  packages/frontend/static/v.png
  packages/frontend/static/vuetify-logo.svg
  packages/frontend/storybook/preview.js
  packages/infra/src/assets/hostedLogin.css
Due: prettier --write, yarn workspace frontend lint --fix

List activity API schema and mock data (#95)
  docs/api.yaml
  packages/api-client/api.ts
  packages/api-service/src/models/document.test.ts
  packages/api-service/src/models/document.ts
  packages/api-service/src/services/collections/downloadCollectionDocuments.test.ts
  packages/api-service/src/services/collections/downloadCollectionDocuments.ts
  packages/api-service/src/services/collections/getDownloadForCollectionDocuments.test.ts
  packages/api-service/src/services/collections/getDownloadForCollectionDocuments.ts
  packages/api-service/src/services/documents/index.ts
  packages/api-service/src/services/user/authorization.ts
  packages/api-service/src/services/user/listAccountActivity.test.ts
  packages/api-service/src/services/user/listAccountActivity.ts
  packages/api-service/src/utils/test.ts
  packages/frontend/components/UploadButton/UploadButton.stories.ts
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/store/document/index.ts
  packages/frontend/store/user/user.spec.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix

Fix agency access to collection downloads (#100)
  packages/infra/src/city-stack.ts
Due: prettier --write, yarn workspace infra lint --fix
