Repository newamericafoundation/MDDL: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

Feature/44345 file upload (#19)
  packages/frontend/.eslintrc.js
  packages/frontend/assets/js/hash/hash.spec.ts
  packages/frontend/assets/js/hash/index.ts
  packages/frontend/assets/js/jest.setup.ts
  packages/frontend/components/SnackBar/SnackBar.spec.ts
  packages/frontend/components/SnackBar/SnackBar.stories.ts
  packages/frontend/components/SnackBar/SnackBar.vue
  packages/frontend/components/UploadButton/UploadButton.spec.ts
  packages/frontend/components/UploadButton/UploadButton.stories.ts
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/jest.config.js
  packages/frontend/jest.i18n.config.ts
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/documents/_id/viewDocument.spec.ts
  packages/frontend/pages/documents/_id/viewDocument.stories.ts
  packages/frontend/pages/documents/documents.stories.ts
  packages/frontend/pages/documents/index.vue
  packages/frontend/plugins/api-accessor.ts
  packages/frontend/plugins/axios-interceptors.ts
  packages/frontend/plugins/store-accessor.ts
  packages/frontend/store/document/index.ts
  packages/frontend/store/user/index.ts
  packages/frontend/storybook/main.js
  packages/frontend/storybook/preview.js
  packages/frontend/types/api.d.ts
  packages/frontend/types/theme.ts
  packages/frontend/types/ts-shim.d.ts
  packages/frontend/types/vue-shim.d.ts
  packages/frontend/vuetify.options.ts
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix

initial (#20)
  packages/frontend/README.md
  packages/frontend/assets/css/hostedLogin.css
Due: none

[BE] Create document
  README.md
  packages/api-service/jest.config.js
  packages/api-service/package.json
  packages/api-service/src/apis/document.ts
  packages/api-service/src/constants.ts
  packages/api-service/src/knexfile.ts
  packages/api-service/src/lambdas/constants.test.ts
  packages/api-service/src/lambdas/constants.ts
  packages/api-service/src/lambdas/contracts.ts
  packages/api-service/src/lambdas/documents/createDocumentForUser.test.ts
  packages/api-service/src/lambdas/documents/createDocumentForUser.ts
  packages/api-service/src/lambdas/documents/getById.test.ts
  packages/api-service/src/lambdas/documents/getById.ts
  packages/api-service/src/lambdas/documents/getByUserId.test.ts
  packages/api-service/src/lambdas/documents/getByUserId.ts
  packages/api-service/src/lambdas/documents/index.ts
  packages/api-service/src/lambdas/documents/markFileReceived.ts
  packages/api-service/src/lambdas/documents/validation.ts
  packages/api-service/src/migrator/migrations/20201005175031_document_files.ts
  packages/api-service/src/models/document.test.ts
  packages/api-service/src/models/document.ts
  packages/api-service/src/models/file.test.ts
  packages/api-service/src/models/file.ts
  packages/api-service/src/utils/api-gateway.ts
  packages/api-service/src/utils/database.ts
  packages/api-service/src/utils/s3.ts
  packages/api-service/src/utils/test.ts
  packages/infra/package.json
  packages/infra/src/__tests__/city-stack.test.ts
  packages/infra/src/cicd-stack.ts
  packages/infra/src/city-stack.ts
  yarn.lock
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

Fix pipeline FE deployment not working
  layer.zip
  packages/infra/src/cicd-stack.ts
  packages/infra/src/city-stack.ts
  packages/infra/src/lambdas/sql-layer/build.sh
Due: prettier --write, yarn workspace infra lint --fix

Fix lambda version, had referenced zip file in wrong place
  layer.zip
  packages/infra/src/lambdas/sql-layer/layer.zip
Due: none

Fix download signature calculation
  packages/api-service/src/utils/s3.test.ts
  packages/api-service/src/utils/s3.ts
  packages/infra/src/city-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

Integrated hosted login styles with stack
  packages/infra/jest.config.js
  packages/infra/src/assets/hostedLogin.css
  packages/infra/src/auth-stack.test.ts
  packages/infra/src/auth-stack.ts
  packages/infra/src/cicd-stack.test.ts
  packages/infra/src/cicd-stack.ts
  packages/infra/src/city-stack.test.ts
  packages/infra/src/data-store-stack.test.ts
Due: prettier --write, yarn workspace infra lint --fix

Webpack builds
  packages/api-client/.openapi-generator-ignore
  packages/api-client/dom-types.ts
  packages/api-client/tsconfig.json
  packages/api-service/.gitignore
  packages/api-service/package.json
  packages/api-service/src/lambdas/constants.ts
  packages/api-service/src/lambdas/contracts.ts
  packages/api-service/src/lambdas/documents/createDocumentForUser.test.ts
  packages/api-service/src/lambdas/documents/createDocumentForUser.ts
  packages/api-service/src/lambdas/documents/getById.test.ts
  packages/api-service/src/lambdas/documents/getById.ts
  packages/api-service/src/lambdas/documents/getByUserId.test.ts
  packages/api-service/src/lambdas/documents/getByUserId.ts
  packages/api-service/src/lambdas/documents/index.ts
  packages/api-service/src/lambdas/documents/markFileReceived.ts
  packages/api-service/src/lambdas/documents/validation.ts
  packages/api-service/src/models/document.test.ts
  packages/api-service/src/models/file.test.ts
  packages/api-service/src/utils/database.ts
  packages/api-service/tsconfig.json
  packages/api-service/webpack.config.js
  packages/infra/src/cicd-stack.ts
  packages/infra/src/city-stack.ts
  packages/infra/src/data-store-stack.ts
  yarn.lock
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

Feature/45287 document list integration (#26)
  .gitarrtibutes
  .gitignore
  packages/frontend/.env.local
  packages/frontend/assets/images/NYC-logo.svg
  packages/frontend/assets/js/hash/hash.spec.ts
  packages/frontend/assets/js/hash/index.ts
  packages/frontend/components/AppBar/AppBar.spec.ts
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/Logo/Logo.spec.ts
  packages/frontend/components/Logo/Logo.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/components/icons/alert.vue
  packages/frontend/components/icons/chevron-left.vue
  packages/frontend/components/icons/close-circle-outline.vue
  packages/frontend/components/icons/dots-horizontal.vue
  packages/frontend/components/icons/download.vue
  packages/frontend/components/icons/home-outline.vue
  packages/frontend/components/icons/menu.vue
  packages/frontend/components/icons/plus.vue
  packages/frontend/components/icons/send.vue
  packages/frontend/layouts/dashboard.vue
  packages/frontend/layouts/default.vue
  packages/frontend/layouts/error.vue
  packages/frontend/middleware/auth.ts
  packages/frontend/nuxt.config.js
  packages/frontend/pages/account/account.spec.ts
  packages/frontend/pages/account/account.stories.ts
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/dashboard/dashboard.spec.ts
  packages/frontend/pages/dashboard/dashboard.stories.ts
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/index.vue
  packages/frontend/plugins/axios-interceptors.ts
  packages/frontend/store/document/index.ts
  packages/frontend/store/user/index.ts
  packages/frontend/store/user/user.spec.ts
  packages/frontend/vuetify.options.ts
Due: prettier --write, yarn workspace frontend lint --fix

Fix file paths in lambda zip files (#29)
  packages/api-service/webpack.config.js
Due: none

add index page (#30)
  packages/frontend/pages/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Updated API spec with sharing and collections. (#28)
  docs/api.yaml
  packages/api-client/api.ts
  packages/api-service/src/lambdas/documents/createDocumentForUser.test.ts
  packages/api-service/src/lambdas/documents/getFileDownloadLinkById.test.ts
  packages/api-service/src/lambdas/documents/getFileDownloadLinkById.ts
  packages/api-service/src/lambdas/documents/index.ts
  packages/api-service/src/models/document.ts
  packages/api-service/src/models/file.test.ts
  packages/api-service/src/models/file.ts
  packages/api-service/webpack.config.js
  packages/frontend/plugins/api-accessor.ts
  packages/frontend/store/user/user.spec.ts
  packages/infra/src/city-stack.test.ts
  packages/infra/src/city-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

Enable implicit code grant for all cognito environments (#31)
  packages/infra/src/city-stack.ts
Due: prettier --write, yarn workspace infra lint --fix

UI updates (#32)
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/DocumentCard/DocumentCard.spec.ts
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/SnackBar/SnackBar.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/package.json
  packages/frontend/pages/dashboard/dashboard.spec.ts
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/pages/documents/_id/viewDocument.spec.ts
  packages/frontend/store/document/index.ts
  packages/frontend/store/user/index.ts
  packages/infra/src/city-stack.ts
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

Feature/auth (#33)
  packages/frontend/.env.local
  packages/frontend/layouts/dashboard.vue
  packages/frontend/middleware/auth.ts
  packages/frontend/middleware/default.ts
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  packages/frontend/pages/authorize/authorize.stories.ts
  packages/frontend/pages/authorize/index.vue
  packages/frontend/pages/login/index.vue
  packages/frontend/pages/login/login.stories.ts
  packages/frontend/plugins/axios-interceptors.ts
  packages/frontend/tsconfig.json
  packages/frontend/types/vue-shim.d.ts
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix

Auth state fixes (#34)
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/pages/authorize/index.vue
  packages/frontend/pages/dashboard/dashboard.spec.ts
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/documents/_id/index.vue
  packages/frontend/store/user/index.ts
  packages/frontend/store/user/user.spec.ts
  packages/infra/src/assets/hostedLogin.css
  packages/infra/src/city-stack.ts
Due: prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

Allow encryption key to be used to decrypt items, for use with S3 bucket downloads (#35)
  packages/infra/src/city-stack.ts
Due: prettier --write, yarn workspace infra lint --fix

Setup/configure styles (#36)
  packages/frontend/assets/scss/colors.scss
  packages/frontend/assets/scss/main.scss
  packages/frontend/assets/scss/vuetifyVariables.scss
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/nuxt.config.js
  packages/frontend/package.json
  packages/frontend/storybook/preview.js
  packages/frontend/vuetify.options.ts
  yarn.lock
Due: prettier --write, yarn workspace frontend lint --fix

fix button alignment in .redirect-customizable (#41)
  packages/infra/src/assets/hostedLogin.css
Due: none

update date format to LLL d, yyyy (#40)
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/pages/documents/_id/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Setup/configure styles (#39)
  packages/frontend/assets/scss/colors.scss
  packages/frontend/assets/scss/main.scss
  packages/frontend/assets/scss/vuetifyVariables.scss
  packages/frontend/assets/variables.scss
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/storybook/preview.js
  packages/frontend/vuetify.options.ts
Due: prettier --write, yarn workspace frontend lint --fix

[BE] Create Collection API (#38)
  LICENSE
  docs/api.yaml
  package.json
  packages/api-client/api.ts
  packages/api-client/tsconfig.json
  packages/api-service/src/constants.test.ts
  packages/api-service/src/constants.ts
  packages/api-service/src/lambdas/collections/createCollectionForUser.test.ts
  packages/api-service/src/lambdas/collections/createCollectionForUser.ts
  packages/api-service/src/lambdas/collections/getByUserId.test.ts
  packages/api-service/src/lambdas/collections/getByUserId.ts
  packages/api-service/src/lambdas/collections/getDocumentsByCollectionId.test.ts
  packages/api-service/src/lambdas/collections/getDocumentsByCollectionId.ts
  packages/api-service/src/lambdas/collections/validation.ts
  packages/api-service/src/lambdas/constants.ts
  packages/api-service/src/lambdas/documents/createDocumentForUser.test.ts
  packages/api-service/src/lambdas/documents/createDocumentForUser.ts
  packages/api-service/src/lambdas/documents/getById.test.ts
  packages/api-service/src/lambdas/documents/index.ts
  packages/api-service/src/lambdas/documents/validation.ts
  packages/api-service/src/migrator/migrations/20201014102754_collections.ts
  packages/api-service/src/models/agency.ts
  packages/api-service/src/models/agencyGrant.test.ts
  packages/api-service/src/models/agencyGrant.ts
  packages/api-service/src/models/baseModel.ts
  packages/api-service/src/models/collection.test.ts
  packages/api-service/src/models/collection.ts
  packages/api-service/src/models/collectionDocument.ts
  packages/api-service/src/models/collectionGrant.ts
  packages/api-service/src/models/document.test.ts
  packages/api-service/src/models/document.ts
  packages/api-service/src/models/file.ts
  packages/api-service/src/utils/test.ts
  packages/api-service/webpack.config.js
  packages/frontend/assets/js/hash/index.ts
  packages/frontend/middleware/default.ts
  packages/infra/package.json
  packages/infra/src/city-stack.test.ts
  packages/infra/src/city-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

Feature/45617 dashboard empty state (#42)
  packages/frontend/README.md
  packages/frontend/assets/images/upload.svg
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/components/icons/alert.vue
  packages/frontend/components/icons/chevron-left.vue
  packages/frontend/components/icons/close-circle-outline.vue
  packages/frontend/components/icons/dots-horizontal.vue
  packages/frontend/components/icons/plus.vue
  packages/frontend/components/icons/send.vue
  packages/frontend/layouts/dashboard.vue
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/store/user/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

authorize and login page tests (#37)
  packages/frontend/pages/authorize/authorize.spec.ts
  packages/frontend/pages/login/login.spec.ts
Due: prettier --write, yarn workspace frontend lint --fix

dismissable nav menu (#43)
  packages/frontend/layouts/dashboard.vue
Due: prettier --write, yarn workspace frontend lint --fix

Feature/45618 snackbar styling (#44)
  packages/frontend/components/SnackBar/SnackBar.vue
  packages/frontend/components/UploadButton/UploadButton.vue
Due: prettier --write, yarn workspace frontend lint --fix

File content disposition can be specified for download. (#46)
  docs/api.yaml
  packages/api-client/api.ts
  packages/api-service/src/constants.ts
  packages/api-service/src/lambdas/collections/createCollectionForUser.test.ts
  packages/api-service/src/lambdas/collections/createCollectionForUser.ts
  packages/api-service/src/lambdas/collections/validation.ts
  packages/api-service/src/lambdas/documents/getFileDownloadLinkById.test.ts
  packages/api-service/src/lambdas/documents/getFileDownloadLinkById.ts
  packages/api-service/src/models/collection.test.ts
  packages/api-service/src/utils/api-gateway.ts
  packages/api-service/src/utils/s3.test.ts
  packages/api-service/src/utils/s3.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

Feature/45623 translations (#45)
  packages/frontend/assets/js/jest.setup.ts
  packages/frontend/assets/js/messages.ts
  packages/frontend/assets/scss/main.scss
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/components/UploadButton/UploadButton.vue
  packages/frontend/layouts/dashboard.vue
  packages/frontend/layouts/default.vue
  packages/frontend/layouts/error.vue
  packages/frontend/locales/messages.ts
  packages/frontend/nuxt.config.js
  packages/frontend/pages/account/index.vue
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/documents/_id/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

Update document API
  docs/api.yaml
  packages/api-service/src/lambdas/collections/createCollectionForUser.test.ts
  packages/api-service/src/lambdas/collections/createCollectionForUser.ts
  packages/api-service/src/lambdas/collections/validation.ts
  packages/api-service/src/lambdas/documents/createDocumentForUser.test.ts
  packages/api-service/src/lambdas/documents/createDocumentForUser.ts
  packages/api-service/src/lambdas/documents/putDocumentById.test.ts
  packages/api-service/src/lambdas/documents/putDocumentById.ts
  packages/api-service/src/lambdas/documents/validation.ts
  packages/api-service/src/migrator/migrations/20201020164029_document_description.ts
  packages/api-service/src/models/document.test.ts
  packages/api-service/src/models/document.ts
  packages/api-service/src/utils/api-gateway.ts
  packages/api-service/src/utils/validation.ts
  packages/api-service/webpack.config.js
  packages/infra/package.json
  packages/infra/src/city-stack.test.ts
  packages/infra/src/city-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

Middleware refactor (#49)
  packages/api-service/package.json
  packages/api-service/src/lambdas/collections/createCollectionForUser.ts
  packages/api-service/src/lambdas/collections/getByUserId.ts
  packages/api-service/src/lambdas/collections/getDocumentsByCollectionId.ts
  packages/api-service/src/lambdas/documents/createDocumentForUser.ts
  packages/api-service/src/lambdas/documents/getById.ts
  packages/api-service/src/lambdas/documents/getByUserId.ts
  packages/api-service/src/lambdas/documents/getFileDownloadLinkById.ts
  packages/api-service/src/lambdas/documents/putDocumentById.ts
  packages/api-service/src/services/collections/authorization.ts
  packages/api-service/src/services/collections/createCollectionForUser.test.ts
  packages/api-service/src/services/collections/createCollectionForUser.ts
  packages/api-service/src/services/collections/getByUserId.test.ts
  packages/api-service/src/services/collections/getByUserId.ts
  packages/api-service/src/services/collections/getDocumentsByCollectionId.test.ts
  packages/api-service/src/services/collections/getDocumentsByCollectionId.ts
  packages/api-service/src/services/collections/validation.ts
  packages/api-service/src/services/documents/authorization.ts
  packages/api-service/src/services/documents/createDocumentForUser.test.ts
  packages/api-service/src/services/documents/createDocumentForUser.ts
  packages/api-service/src/services/documents/getById.test.ts
  packages/api-service/src/services/documents/getById.ts
  packages/api-service/src/services/documents/getByUserId.test.ts
  packages/api-service/src/services/documents/getByUserId.ts
  packages/api-service/src/services/documents/getFileDownloadLinkById.test.ts
  packages/api-service/src/services/documents/getFileDownloadLinkById.ts
  packages/api-service/src/services/documents/index.ts
  packages/api-service/src/services/documents/markFileReceived.ts
  packages/api-service/src/services/documents/putDocumentById.test.ts
  packages/api-service/src/services/documents/putDocumentById.ts
  packages/api-service/src/services/documents/validation.ts
  packages/api-service/src/services/user/authorization.ts
  packages/api-service/src/utils/api-gateway.ts
  packages/api-service/src/utils/middleware.test.ts
  packages/api-service/src/utils/middleware.ts
  packages/api-service/src/utils/test.ts
  packages/api-service/src/utils/validation.ts
  packages/api-service/webpack.config.js
  yarn.lock
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

collection list initial (#52)
  packages/frontend/components/AppBar/AppBar.vue
  packages/frontend/components/CollectionCard/CollectionCard.vue
  packages/frontend/components/CollectionList/CollectionList.vue
  packages/frontend/layouts/dashboard.vue
  packages/frontend/pages/dashboard/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

list shared collections (#53)
  packages/frontend/components/SharedCollectionCard/SharedCollectionCard.spec.ts
  packages/frontend/components/SharedCollectionCard/SharedCollectionCard.vue
  packages/frontend/components/SharedCollectionList/SharedCollectionList.spec.ts
  packages/frontend/components/SharedCollectionList/SharedCollectionList.vue
  packages/frontend/pages/collections/_id/index.vue
  packages/frontend/pages/collections/_id/viewCollection.spec.ts
  packages/frontend/pages/collections/shared/index.vue
  packages/frontend/pages/collections/shared/sharedCollections.spec.ts
  packages/frontend/pages/share/index.vue
  packages/frontend/store/collection/index.ts
  packages/frontend/store/user/index.ts
Due: prettier --write, yarn workspace frontend lint --fix

Bugfix/45843 and 45842 share flow fixes (#54)
  packages/frontend/components/DocumentCard/DocumentCard.vue
  packages/frontend/pages/dashboard/index.vue
  packages/frontend/pages/share/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

fix logout button (#56)
  packages/frontend/layouts/dashboard.vue
  packages/frontend/pages/dashboard/index.vue
Due: prettier --write, yarn workspace frontend lint --fix

[BE] Collection email (#55)
  packages/api-service/fileStub.js
  packages/api-service/jest.config.js
  packages/api-service/package.json
  packages/api-service/src/services/collections/createCollectionForUser.test.ts
  packages/api-service/src/services/collections/createCollectionForUser.ts
  packages/api-service/src/services/documents/index.ts
  packages/api-service/src/services/emails/__mocks__/index.ts
  packages/api-service/src/services/emails/emailSender.ts
  packages/api-service/src/services/emails/index.ts
  packages/api-service/src/services/emails/sendSharedCollectionNotification.test.ts
  packages/api-service/src/services/emails/sendSharedCollectionNotification.ts
  packages/api-service/src/services/emails/templates/collectionSharedNotification.mustache
  packages/api-service/src/services/emails/templates/footer.mustache
  packages/api-service/src/services/emails/templates/header.mustache
  packages/api-service/src/services/emails/templates/index.d.ts
  packages/api-service/webpack.config.js
  packages/frontend/pages/share/index.vue
  packages/infra/src/auth-stack.ts
  packages/infra/src/city-stack.test.ts
  packages/infra/src/city-stack.ts
  packages/infra/src/email-sender.ts
  yarn.lock
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace frontend lint --fix, yarn workspace infra lint --fix

[BE] List collection grants (#57)
  packages/api-service/src/models/__mocks__/collection.ts
  packages/api-service/src/models/collection.test.ts
  packages/api-service/src/models/collection.ts
  packages/api-service/src/services/collections/authorization.ts
  packages/api-service/src/services/collections/createCollectionForUser.ts
  packages/api-service/src/services/collections/getByUserId.test.ts
  packages/api-service/src/services/collections/getByUserId.ts
  packages/api-service/src/services/collections/getGrantsByCollectionId.test.ts
  packages/api-service/src/services/collections/getGrantsByCollectionId.ts
  packages/api-service/src/services/collections/getSharedToUserId.test.ts
  packages/api-service/src/services/collections/getSharedToUserId.ts
  packages/api-service/src/services/collections/index.ts
  packages/api-service/webpack.config.js
  packages/infra/src/city-stack.test.ts
  packages/infra/src/city-stack.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write, yarn workspace infra lint --fix

Update number of emails that can be added to a collection. (#58)
  packages/api-service/jest.config.js
  packages/api-service/src/constants.ts
Due: yarn workspace @datalocker/api-service lint --fix, prettier --write

Back button uses nav stack if available (#59)
  packages/frontend/layouts/default.vue
Due: prettier --write, yarn workspace frontend lint --fix

Path conditions:
  yarn workspace @datalocker/api-service lint --fix: any of: packages/api-service/**/*.ts
  prettier --write: ((any of: packages/api-service/**/*.ts) or (any of: packages/frontend/**/*.{ts,vue})) or (any of: packages/infra/**/*.ts)
  yarn workspace frontend lint --fix: any of: packages/frontend/**/*.{ts,vue}
  yarn workspace infra lint --fix: any of: packages/infra/**/*.ts
